body {
  height: unset;
}

#test {
  height: 140vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: arial;
  font-size: 2rem;
}

#main-content {
  --x-val: 0%;
  --y-val: 0%;
  padding-top: 5.5vh;
  background: radial-gradient(circle at var(--x-val) var(--y-val), #00c2ff 1%, #167ac5 30%);
  transition: background cubic-bezier(.29, 1.01, 1, -0.68) 1s;
}

#detach-button-host {
  display: none !important;
}

.nav-transparent {
  background-color: #167AC5;
  box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);
}

#portfolio-items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 5em;
  padding-top: 1em;
  padding-bottom: 0px;
  box-sizing: border-box;
  align-items: flex-start;
}

.p-note {
  font-size: 1.5vmin;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 0px !important;
}

hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  border-style: solid;
}

.portfolio-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 0em;
  padding: 2em;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  margin-top: 1em;
  width: 65%;
}

.title-des {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #2c5c80;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  box-sizing: border-box;
  background: rgb(255 255 255);
  padding: 1.5em;
  padding-inline: 2em;
  border-radius: 0.3em;
  box-shadow: 7px 7px 0px rgb(0 0 0 / 10%);
  width: 100%;
}

.title-des > p {
  margin-block: 0.5em;
}

.portfolio-card-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

.portfolio-card-images > a {
  display: flex;
  justify-content: center;
}

.portrait-card-images {
  flex: 2;
}

.title {
  margin: 0px;
  color: #0081b0;
  font-size: 1.75em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 2%;
  text-underline-offset: 0.1em;
}

.port-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 7px 7px 0px rgb(0 0 0 / 10%);
  margin-top: 2em;
  transition: top ease 1s, outline ease-in 0.1s;
  z-index: 1;
  outline: rgb(241 189 64) solid 0em;
}

a > .port-img:hover {
  outline: rgb(241 189 64) solid 0.5em;
}

.tilt-portrait-image-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.port-img-portrait {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 2em;
  width: 100%;
  margin-top: 2em;
  box-shadow: 7px 7px 0px rgb(0 0 0 / 10%);
  border-radius: 0.3em;
}

.video-card-portrait {
  width: 100%;
}

.card-images-grid {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 1.5em;
  width: 90%;
}

#port-6-images {
  grid-template-columns: repeat(3, 1fr);
}

.hidden-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 0;
  box-shadow: unset;
  visibility: hidden;
}

.portfolio-card-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  box-sizing: border-box;
  margin-top: 2em;
  min-width: 10%;
}

.vert-line {
  background: white;
  width: 0.5em;
  height: 100%;
  border-radius: 100px;
  margin-top: -0.2em;
  opacity: 0.5;
}

.vert-line-end {
  background: white;
  width: 15%;
  height: 0.4em;
  border-radius: 100px;
  margin-top: -0.2em;
}

.date-left {
  margin-left: 3em;
  margin-right: 0px;
}

.date-right {
  margin-right: 3em;
  margin-left: 0px;
}

.portfolio-card-arrow {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(241 189 64);
  font-size: 2em;
  transition: margin 0.3s ease;
  cursor: pointer;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 1em;
  box-shadow: 7px 7px 0px rgb(0 0 0 / 10%);
  width: 75%;
}

.portfolio-card-arrow:hover {
  margin-top: 1.1em;
}

.portfolio-card-date > h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left-portfolio-item {
  margin-left: 0;
}

.right-portfolio-item {
  margin-right: 0;
}


@media only screen and (max-width: 1200px) {

  #main-content {
    padding-top: min(4em, 13vh) !important;
  }

  #portfolio-items-container {
    padding: 1em;
    gap: 5em;
  }

  .portfolio-item {
    flex-direction: column;
    padding: 0;
  }

  .portfolio-item.right-portfolio-item {
    flex-direction: column-reverse;
  }

  .portfolio-card {
    width: 100%;
  }

  .portfolio-card-date {
    margin: 0;
  }

  .portfolio-card-date > h2 {
    margin: 0;
  }

  .vert-line, .vert-line-end {
    display: none;
  }

  .title {
    font-size: 1.5em;
  }

  .card-images-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 100%;
    padding-top:1em;
  }

  .card-images-grid img, .card-images-grid video {
    margin: 0;
  }

/*
  .portfolio-card {
    flex-direction: column;
  }

  .title-des {
    margin-inline: 2%;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.9);
  }

  .port-img {
    width: 80%;
    margin-top: 2%;
  }

  .portfolio-card-images {
    padding: 0px;
  }

  .portfolio-card-arrow {
    margin-bottom: 3%;
  }

  .title {
    font-size: 1.7em;
  }

  .portfolio-card-date {
    padding-inline: 0px;
    font-size: 1.5em;
    justify-content: start;
  }

  .tilt-portrait-image-row {
    justify-content: center;
    padding-bottom: 2%;
  }
*/
}

@media only screen and (max-width: 600px) {
  /*
  .left-portfolio-item {
    flex-direction: column-reverse;
  }

  .right-portfolio-item {
    flex-direction: column;
  }

  .portfolio-item {
    margin-bottom: 10%;
  }

  .portfolio-card {
    width: 100%;
    flex-direction: column-reverse;
    padding: 5%;
  }

  .title-des {
    padding: 10%;
  }

  .p-note {
    font-size: 1em;
  }

  .port-img {
    margin-top: 0%;
    width: 100%;
  }

  #portfolio-items-container {
    padding-top: 7%;
    padding-inline: 3%;
  }

  .portfolio-card-date {
    font-size: 1em;
    line-height: 0.5;
  }

  .portfolio-card-arrow {
    width: 2em;
    height: 2em;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.4);
  }

  #tilt-images {
    margin-bottom: 5%;
    justify-content: center;
  }
  */
}
