#test {
  height: 140vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: arial;
  font-size: 2rem;
}

#main-content {

}

#portfolio-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 7.5%;
  padding-top: 3.5%;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.p-note {
  font-size: 1.5vmin;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 0px !important;
}

hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  border-style: solid;
}

.portfolio-item {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6%;
}

.portfolio-card {
  width: 80%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 1%;
  box-sizing: border-box;
}

.title-des {
  height: 100%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4%;
  padding-block: 4%;
  box-sizing: border-box;
  font-family: arial;
  color: #046;
  font-size: 2vmin;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  margin-right: 4%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2%;
  margin-bottom: 2%;
}

.title-des > p {
  margin-block: 3%;
}

.portfolio-card-images {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-block: 2%;
  padding-right: 2%;
  align-items: center;
  justify-content: start;
}

.portrait-card-images {
  flex: 2;
}

.title {
  margin: 0px;
  color: #046;
  font-size: 3vmin;
  font-family: "Cozette";
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 2%;
}

#tripster-title {
  text-shadow: 2px 3px #ffd75b;
  transition: 0.1s ease;
}

#tripster-title:hover {
  text-shadow: 5px 6px #ffd75b;
}

#winter-carnival-title {
  text-shadow: 2px 3px #f68d96;
  transition: 0.1s ease;
}

#winter-carnival-title:hover {
  text-shadow: 5px 6px #f68d96;
}

#tilt-title {
  text-shadow: 2px 3px #49ffff;
  transition: 0.1s ease;
}

#tilt-title:hover {
  text-shadow: 5px 6px #49ffff;
}

.port-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 6%;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2);
}

.tilt-portrait-image-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.port-img-portrait {
  width: 30%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2);
  margin-inline: 1%;
}

.hidden-img {
  display: none;
}

.portfolio-card-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: arial;
  font-size: 2.5vmin;
  font-weight: bold;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}

.date-left {
  margin-left: auto;
  margin-right: 0px;
}

.date-right {
  margin-right: auto;
  margin-left: 0px;
}

.portfolio-card-arrow {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 9vmin;
  height: 9vmin;
  background: rgba(0, 0, 0, 0.3);
  font-size: 4vmin;
  border-radius: 100%;
  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom: auto;
}

.portfolio-card-arrow:hover {
  transform: translateY(5px);
}

.portfolio-card-date > h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left-portfolio-item {
  margin-left: 0;
  margin-right: auto;
}

.right-portfolio-item {
  margin-right: 0;
  margin-left: auto;
}


@media only screen and (max-width: 1300px) {

  .portfolio-card {
    flex-direction: column;
  }

  .title-des {
    margin-inline: 2%;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.9);
  }

  .port-img {
    width: 80%;
    margin-top: 2%;
  }

  .portfolio-card-images {
    padding: 0px;
  }

  .portfolio-card-arrow {
    margin-bottom: 3%;
  }

  .title {
    font-size: 1.7em;
  }

  .portfolio-card-date {
    padding-inline: 0px;
    font-size: 1.5em;
    justify-content: start;
  }

  .tilt-portrait-image-row {
    justify-content: center;
    padding-bottom: 2%;
  }

}

@media only screen and (max-width: 600px) {
  .left-portfolio-item {
    flex-direction: column-reverse;
  }

  .right-portfolio-item {
    flex-direction: column;
  }

  .portfolio-item {
    margin-bottom: 10%;
  }

  .portfolio-card {
    width: 100%;
    flex-direction: column-reverse;
    padding: 5%;
  }

  .title-des {
    padding: 10%;
  }

  .p-note {
    font-size: 1em;
  }

  .port-img {
    margin-top: 0%;
    width: 100%;
  }

  #portfolio-items-container {
    padding-top: 7%;
    padding-inline: 3%;
  }

  .portfolio-card-date {
    font-size: 1em;
    line-height: 0.5;
  }

  .portfolio-card-arrow {
    width: 2em;
    height: 2em;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.4);
  }

  #tilt-images {
    margin-bottom: 5%;
    justify-content: center;
  }
}
