/* CSS HEX COLOR PALETTE*/
:root {
  --blue: #008DB8; 
  --dark-blue: #0a38bf;
  --sky-blue-crayola: #16D9F3;
  --ivory: #fefdecff;
  --nickel: #6d7373ff;
  --middle-red: #f08c67ff;
  --mid-blue: #076ebf;
}

@font-face {
  font-family: Cozette;
  src: url('../fonts/CozetteVector.ttf');
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  scrollbar-color: var(--sky-blue-crayola) transparent;
}

 /* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(100, 100, 100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--sky-blue-crayola);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sky-blue-text {
  color: var(--sky-blue-crayola);
}

#navbar {
  position: fixed;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 5;
}

.nav-transparent {
  background-color: rgba(0, 53, 73, 0.0);
  backdrop-filter: blur(7px);
  transition: ease 0.5s;
}

.nav-colored {
  background-color: rgba(0, 141, 184, 0.7);
  backdrop-filter: blur(7px);
  transition: ease 0.5s;
}

#footer {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  background-color: white;
  color: rgba(0, 0, 0, 0.35);
  font-family: arial;
  font-size: 0.75rem;
  padding: 1%;
  box-sizing: border-box;
  cursor: pointer;
}

.left-footer-col {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: 1%;
}

.right-footer-col {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  margin-left: auto;
  height: 100%;
  justify-content: center;
  text-align: right;
}

#footer-contact-link {
  cursor: pointer;
  z-index: 3;
}

.left-footer-col i {
  font-size: 1.75rem;
}

.right-footer-col a {
  text-decoration: none;
  color: rgba(0, 0,  0, 0.35);
}

#navbar a {
  color: white;
  text-decoration: none;
}

#navbar a:hover{
  color: var(--sky-blue-crayola);
}

.nav-ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  font-size: 2vw;
}

#logo-link {
  margin-left: 3%;
  margin-right: auto;
  font-family: Cozette;
  font-size: 2.2vw;
  text-decoration: underline;
  text-decoration-color: white;
  color: var(--sky-blue-crayola);
}

#logo-link:hover {
  text-decoration-color: var(--sky-blue-crayola);
}

.nav-link {
  margin-right: 2%;
  font-family: Cozette;
}

#main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bg-image {
  position: fixed;
  top: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/simon-lee-zft-W1kVEhg-unsplash.jpg');
  background-size: cover;
  background-position: top center;
}

#threejs-container {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
}

#threejs {
  width: 100vw;
  height: 110vh;
  position: fixed;
  object-fit: cover;
}

.circle-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -0.35in; 
  z-index: 2;
  width: 0.75in;
  height: 0.75in;
  border-radius: 50%;
  background-color: var(--sky-blue-crayola);
  align-self: flex-end;
  font-family: arial;
  font-size: 2.5em;
  color: white;
  cursor: pointer;
  transition: ease 0.2s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.circle-arrow:hover {
  background-color: var(--dark-blue);
  color: var(--sky-blue-crayola);
}

#name-header {
  color: var(--sky-blue-crayola);
  font-family: Cozette;
}

#home-about-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 2%;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 5vw;
  padding-top: 0px;
  padding-bottom: 6.5vh;
  box-shadow: 0px -30px 40px 20px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: var(--blue);
  z-index: 1;
}

#home-about-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.about-me-header {
  padding: 0px;
  margin: 0px;
  font-family: Cozette;
  background-color: var(--blue);
  padding: 1.5%;
  color: white;
  margin-top: 3%;
  align-self: end;
}

#skills-header {
  font-family: Cozette;
  color: var(--blue);
  font-size: 1.5rem;
  margin: 0px;
  margin-top: -5%;
}

.about-me-p {
  padding: 0px;
  margin-bottom: 0.5%;
  font-family: arial;
  font-size: 1.1rem;
}

#bottom-page-shadow {
  height: 10%;
  position: fixed;
  background-image: linear-gradient(transparent, 40%, rgba(0, 0, 0, 0.2));
  bottom: -6%;
  left: -20%;
  right: -20%;
  filter: blur(20px);
}

#about-text-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
}

#about-icon {
  font-size: 2rem;
}


#home-page-down-arrow{
}

#abit-about-me-row {
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#about-and-skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#skills-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-right: -5%;
  margin-left: auto;
  margin-top: 5%;
}

#three-icons-section {
  display: flex;
  width: 100%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
}

#greg-about-image {
  display: flex;
  height: 100%;
  width: auto;
  object-fit: contain;
}

#skills-list {
  background-image: url('../images/Greg-Website-AboutPhoto.JPG');
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50vmin;
  border: solid 15px var(--blue);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.header-line-break {
  height: 5px;
  width: 50%;
  background-color: var(--blue);
  position: absolute;
}

#three-icons-section canvas {
  width: 100%;
  height: 100%;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  #navbar {

  }
  .about-me-header{
    font-size: 0.8rem;
    align-self: center;
    margin-top: 0px;
  }
  #home-about-content {
    padding: 3%;
    padding-top: 0px;
  }
  #about-and-skills {
    flex-direction: column-reverse;
  }
  #about-text-section {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    padding-bottom: 20%;
  }
  #skills-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #footer i {
    display: none;
  }
  #footer {
    font-size: 0.5rem;
  }
}
